# General
.DS_Store
._*
__*.*
*.sublime-project
*.sublime-workspace

# Resources
/profiles/gazelle/
/profiles/xml-*/
/schemas/appendix*/
/schemas/hl7*/
/schemas/json-*-org/
/schemas/json-*-sun/
/scripts/06-create-json-profile.config.php
/scripts/07-create-xml-profile.config.php

# Composer
composer.phar
vendor/

# Tools
phpstan.log
phpstan.neon
validator.log
