# General
.DS_Store
._*
__*.*
*.sublime-project
*.sublime-workspace

# Resources
/profiles/gazelle/
/schemas/appendixA-2.5/
/schemas/hl7-xml-v2.5/
/schemas/hl7v2xsd/
/schemas/json-2.5-org/
/schemas/json-2.5-sun/
/scripts/config.php

# Composer
composer.phar
vendor/

# Tools
phpstan.log
phpstan.neon
validator.log
